---
import HeadingOne from "../HeadingOne.astro";
const { content } = Astro.props;
---

<section class="grid p-6 pt-0">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid gap-4">
      <p class="text-lg text-primary xxl:text-2xl">the solution.</p>
      <div class="grid gap-4 lg:gap-0 md:grid-cols-2">
        <p class="text-sm text-primary xxl:text-lg max-w-md">
          {content.solutionOne}
        </p>
        <p class="text-sm text-primary xxl:text-lg max-w-md">
          {content.solutionTwo}
        </p>
      </div>
    </div>
  </div>
</section>
