---
export interface IImageSetOneProps {
  bgColor: string;
}

const { content, bgColor } = Astro.props;
---

<section class="grid p-6">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid grid-rows-3 lg:grid-cols-3 lg:grid-rows-none gap-4">
      <div class="bg-primary grid place-items-center">
        <img class="h-4/5" src={content.istione} />
      </div>
      <div class="bg-neutral grid items-center pl-4 pr-4">
        <img src={content.istitwo} />
      </div>
      <div class="bg-accent grid place-items-center">
        <img class="h-4/5" src={content.istithree} />
      </div>
    </div>
  </div>
</section>
