---
---

<section class:list={["grid p-6"]}>
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid grid-cols-2 pt-4">
      <h1 class="col-span-2 text-center">Technologies I've worked with</h1>
      <div>
        <h3 class="lg:text-xl xl:text-2xl text-center">comfortable:</h3>
      </div>
      <div>
        <h3 class="lg:text-xl xl:text-2xl text-center">competent:</h3>
      </div>
    </div>
  </div>
</section>
