---
import Hero from "../components/home/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import global from "../styles/global.css";
---

<Layout title="EltonBautista: Design">
  <header class="grid">
    <Navbar />
  </header>
  <main class="grid">
    <Hero />
  </main>
</Layout>
