---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="EltonBautista: Design">
	<main class="max-w-screen-xl m-auto p-4 pt-2">
    <Navbar />
	</main>
</Layout>

