---
import Footer from "../components/Footer.astro";
import HeroSection from "../components/home/HeroSection.astro";
import ProjectBreakOne from "../components/home/ProjectBreakOne.astro";
import ProjectBreakThree from "../components/home/ProjectBreakThree.astro";
import ProjectBreakTwo from "../components/home/ProjectBreakTwo.astro";
import ProjectOne from "../components/home/ProjectOne.astro";
import ProjectThree from "../components/home/ProjectThree.astro";
import ProjectTwo from "../components/home/ProjectTwo.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import global from "../styles/global.css";
---

<Layout title="EltonBautista: Design">
  <main class="grid">
    <HeroSection />
    <ProjectOne />
    <ProjectBreakOne />
    <ProjectBreakTwo />
    <ProjectTwo />

    <ProjectThree />
    <ProjectBreakThree />
  </main>
</Layout>
