---
import HeadingOne from "../HeadingOne.astro";
---

<section
  class="grid pr-6 pl-6 xl:p-0 max-w-screen-xl justify-self-center w-full"
>
  <div
    class="grid w-[75%] col-start-1 col-end-2 row-start-1 row-end-1 max-w-xl h-fit lg:sticky lg:top-0 lg:w-full"
  >
    <video autoplay loop muted preload="auto">
      <source src="/coding-vr.mp4" />
    </video>
  </div>
  <div
    class="grid max-w-screen-xl w-full p-6 pt-20 col-start-1 col-end-2 row-start-1 row-end-2 lg:justify-self-center z-10"
  >
    <HeadingOne lineHeight text="elton bautista." pl="pl-[22.5%]" />
    <HeadingOne lineHeight text="developer." pl="pl-[22.5%]" />
    <HeadingOne lineHeight text="user interface &" pl="pl-[10%]" />
    <HeadingOne lineHeight text="experience." pl="pl-[22.5%]" />
    <HeadingOne lineHeight text="designing." pl="pl-[10%]" />
    <HeadingOne lineHeight text="copywriting." pl="pl-[22.5%]" />
    <HeadingOne lineHeight text="based in." pl="pl-[10%]" />
    <HeadingOne lineHeight text="calgary." pl="pl-[10%]" />
  </div>
  <div
    class="max-w-lg w-[70%] lg:w-[27.5%] md:w-[50%] h-[75%] md:h-[55%] lg:h-[37.5%] justify-self-end col-start-1 col-end-2 row-start-2 row-end-2 grid lg:sticky bottom-10"
  >
    <img
      class="h-[100%] w-[100%] justify-self-end"
      src="/sitting.jpg"
      alt="man sitting in front of computer"
    />
    <span class="pt-4">immersed in the experience.</span>
  </div>
</section>
