---
---

<!-- grid-rows-2 -->
<section class="grid p-6 lg:p-0 min-h-screen">
  <div
    class="grid w-[75%] col-start-1 col-end-2 row-start-1 row-end-1 max-w-lg h-fit lg:sticky top-10"
  >
    <video autoplay loop muted>
      <source src="/coding-vr.webm" />
    </video>
  </div>
  <div
    class="grid max-w-screen-xl w-full p-6 pt-16 col-start-1 col-end-2 row-start-1 row-end-2 lg:justify-self-center z-10"
  >
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[25%] lg:pl-[22.5%]">elton bautista.</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[25%] lg:pl-[22.5%]">developer.</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[10%]">user interface &</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[25%] lg:pl-[22.5%]">experience</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[10%]">designer.</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[25%] lg:pl-[22.5%]">copywriter.</p>
    </h1>

    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[10%]">based in</p>
    </h1>
    <h1 class="text-4xl lg:text-9xl">
      <p class="pl-[10%]">calgary.</p>
    </h1>
  </div>
  <div
    class="max-w-lg w-[70%] lg:w-[22.5%] h-[75%] lg:h-[32.5%] justify-self-end lg:pr-10 col-start-1 col-end-2 row-start-2 row-end-2 grid lg:sticky bottom-10"
  >
    <img
      class="h-[100%] w-[100%] justify-self-end"
      src="/sitting.webp"
      alt="man sitting in front of computer"
    />
    <p class="pt-4">follow @psychtotech</p>
  </div>
</section>
