---
---

<section class="grid px-2 pt-24 lg:pt-32 bg-secondary">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div
      class="grid bg-warning w-fit justify-self-end object-cover p-4 lg:p-14"
    >
      <a class="link no-underline" href="/case-studies/groomify">
        <img
          class="justify-self-center lg:justify-self-start w-144 lg:w-[780px]"
          src="/macbook.webp"
          alt="yaba iphone mockup"
          width="800px"
          height="800px"
        />
      </a>
    </div>
    <div class="pt-4 text-end text-warning">
      <h2>Groomify - a pet grooming service</h2>
      <h3>mockup, research, ux, ui</h3>
    </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
  ><path
    fill="	#7d919b"
    fill-opacity="1"
    d="M0,256L0,128L36.9,128L36.9,224L73.8,224L73.8,32L110.8,32L110.8,192L147.7,192L147.7,256L184.6,256L184.6,288L221.5,288L221.5,160L258.5,160L258.5,320L295.4,320L295.4,64L332.3,64L332.3,320L369.2,320L369.2,96L406.2,96L406.2,96L443.1,96L443.1,96L480,96L480,96L516.9,96L516.9,192L553.8,192L553.8,96L590.8,96L590.8,320L627.7,320L627.7,288L664.6,288L664.6,192L701.5,192L701.5,192L738.5,192L738.5,96L775.4,96L775.4,256L812.3,256L812.3,96L849.2,96L849.2,192L886.2,192L886.2,256L923.1,256L923.1,256L960,256L960,128L996.9,128L996.9,224L1033.8,224L1033.8,224L1070.8,224L1070.8,128L1107.7,128L1107.7,224L1144.6,224L1144.6,96L1181.5,96L1181.5,224L1218.5,224L1218.5,64L1255.4,64L1255.4,288L1292.3,288L1292.3,288L1329.2,288L1329.2,160L1366.2,160L1366.2,160L1403.1,160L1403.1,64L1440,64L1440,0L1403.1,0L1403.1,0L1366.2,0L1366.2,0L1329.2,0L1329.2,0L1292.3,0L1292.3,0L1255.4,0L1255.4,0L1218.5,0L1218.5,0L1181.5,0L1181.5,0L1144.6,0L1144.6,0L1107.7,0L1107.7,0L1070.8,0L1070.8,0L1033.8,0L1033.8,0L996.9,0L996.9,0L960,0L960,0L923.1,0L923.1,0L886.2,0L886.2,0L849.2,0L849.2,0L812.3,0L812.3,0L775.4,0L775.4,0L738.5,0L738.5,0L701.5,0L701.5,0L664.6,0L664.6,0L627.7,0L627.7,0L590.8,0L590.8,0L553.8,0L553.8,0L516.9,0L516.9,0L480,0L480,0L443.1,0L443.1,0L406.2,0L406.2,0L369.2,0L369.2,0L332.3,0L332.3,0L295.4,0L295.4,0L258.5,0L258.5,0L221.5,0L221.5,0L184.6,0L184.6,0L147.7,0L147.7,0L110.8,0L110.8,0L73.8,0L73.8,0L36.9,0L36.9,0L0,0L0,0Z"
  ></path>
</svg>
