---
---

<section class="grid pl-6 pr-6 pt-14">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <h2 class="text-3xl lg:text-7xl w-4/5">
      <p>
        hi, thank you for your time. <br /> if you would like to contact me, please
        don't hesitate to do so &hearts;. <br /><span
          class="text-secondary text-2xl">emoniebaut@outlook.com</span
        >
      </p>
    </h2>
  </div>
</section>
