---
---

<section class="grid pt-14">
  <svg
    id="wave"
    style="transform:rotate(0deg); transition: 0.3s"
    viewBox="0 0 1440 160"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    ><defs
      ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(125, 145, 155, 1)" offset="0%"></stop><stop
          stop-color="rgba(125, 145, 155, 1)"
          offset="100%"></stop>
      </linearGradient>
    </defs><path
      style="transform:translate(0, 0px); opacity:1"
      fill="url(#sw-gradient-0)"
      d="M0,96L48,82.7C96,69,192,43,288,32C384,21,480,27,576,37.3C672,48,768,64,864,80C960,96,1056,112,1152,101.3C1248,91,1344,53,1440,32C1536,11,1632,5,1728,21.3C1824,37,1920,75,2016,77.3C2112,80,2208,48,2304,53.3C2400,59,2496,101,2592,117.3C2688,133,2784,123,2880,106.7C2976,91,3072,69,3168,61.3C3264,53,3360,59,3456,53.3C3552,48,3648,32,3744,32C3840,32,3936,48,4032,56C4128,64,4224,64,4320,77.3C4416,91,4512,117,4608,114.7C4704,112,4800,80,4896,64C4992,48,5088,48,5184,50.7C5280,53,5376,59,5472,56C5568,53,5664,43,5760,40C5856,37,5952,43,6048,61.3C6144,80,6240,112,6336,114.7C6432,117,6528,91,6624,80C6720,69,6816,75,6864,77.3L6912,80L6912,160L6864,160C6816,160,6720,160,6624,160C6528,160,6432,160,6336,160C6240,160,6144,160,6048,160C5952,160,5856,160,5760,160C5664,160,5568,160,5472,160C5376,160,5280,160,5184,160C5088,160,4992,160,4896,160C4800,160,4704,160,4608,160C4512,160,4416,160,4320,160C4224,160,4128,160,4032,160C3936,160,3840,160,3744,160C3648,160,3552,160,3456,160C3360,160,3264,160,3168,160C3072,160,2976,160,2880,160C2784,160,2688,160,2592,160C2496,160,2400,160,2304,160C2208,160,2112,160,2016,160C1920,160,1824,160,1728,160C1632,160,1536,160,1440,160C1344,160,1248,160,1152,160C1056,160,960,160,864,160C768,160,672,160,576,160C480,160,384,160,288,160C192,160,96,160,48,160L0,160Z"
    ></path>
  </svg>
  <!-- TODO: Leave for now -->
  <!-- <svg
    id="wave"
    style="transform:rotate(180deg); transition: 0.3s"
    viewBox="0 0 1440 160"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    ><defs
      ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(125, 145, 155, 1)" offset="0%"></stop><stop
          stop-color="rgba(125, 145, 155, 1)"
          offset="100%"></stop>
      </linearGradient>
    </defs><path
      style="transform:translate(0, 0px); opacity:1"
      fill="url(#sw-gradient-0)"
      d="M0,96L48,82.7C96,69,192,43,288,32C384,21,480,27,576,37.3C672,48,768,64,864,80C960,96,1056,112,1152,101.3C1248,91,1344,53,1440,32C1536,11,1632,5,1728,21.3C1824,37,1920,75,2016,77.3C2112,80,2208,48,2304,53.3C2400,59,2496,101,2592,117.3C2688,133,2784,123,2880,106.7C2976,91,3072,69,3168,61.3C3264,53,3360,59,3456,53.3C3552,48,3648,32,3744,32C3840,32,3936,48,4032,56C4128,64,4224,64,4320,77.3C4416,91,4512,117,4608,114.7C4704,112,4800,80,4896,64C4992,48,5088,48,5184,50.7C5280,53,5376,59,5472,56C5568,53,5664,43,5760,40C5856,37,5952,43,6048,61.3C6144,80,6240,112,6336,114.7C6432,117,6528,91,6624,80C6720,69,6816,75,6864,77.3L6912,80L6912,160L6864,160C6816,160,6720,160,6624,160C6528,160,6432,160,6336,160C6240,160,6144,160,6048,160C5952,160,5856,160,5760,160C5664,160,5568,160,5472,160C5376,160,5280,160,5184,160C5088,160,4992,160,4896,160C4800,160,4704,160,4608,160C4512,160,4416,160,4320,160C4224,160,4128,160,4032,160C3936,160,3840,160,3744,160C3648,160,3552,160,3456,160C3360,160,3264,160,3168,160C3072,160,2976,160,2880,160C2784,160,2688,160,2592,160C2496,160,2400,160,2304,160C2208,160,2112,160,2016,160C1920,160,1824,160,1728,160C1632,160,1536,160,1440,160C1344,160,1248,160,1152,160C1056,160,960,160,864,160C768,160,672,160,576,160C480,160,384,160,288,160C192,160,96,160,48,160L0,160Z"
    ></path>
  </svg> -->
  <svg
    id="wave"
    style="transform:rotate(180deg); transition: 0.3s"
    viewBox="0 0 1440 170"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    ><defs
      ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(125, 145, 155, 1)" offset="0%"></stop><stop
          stop-color="rgba(125, 145, 155, 1)"
          offset="100%"></stop>
      </linearGradient>
    </defs><path
      style="transform:translate(0, 0px); opacity:1"
      fill="url(#sw-gradient-0)"
      d="M0,136L34.3,113.3C68.6,91,137,45,206,39.7C274.3,34,343,68,411,93.5C480,119,549,136,617,121.8C685.7,108,754,62,823,56.7C891.4,51,960,85,1029,104.8C1097.1,125,1166,130,1234,130.3C1302.9,130,1371,125,1440,113.3C1508.6,102,1577,85,1646,70.8C1714.3,57,1783,45,1851,51C1920,57,1989,79,2057,87.8C2125.7,96,2194,91,2263,90.7C2331.4,91,2400,96,2469,87.8C2537.1,79,2606,57,2674,56.7C2742.9,57,2811,79,2880,73.7C2948.6,68,3017,34,3086,25.5C3154.3,17,3223,34,3291,39.7C3360,45,3429,40,3497,42.5C3565.7,45,3634,57,3703,62.3C3771.4,68,3840,68,3909,79.3C3977.1,91,4046,113,4114,119C4182.9,125,4251,113,4320,90.7C4388.6,68,4457,34,4526,34C4594.3,34,4663,68,4731,79.3C4800,91,4869,79,4903,73.7L4937.1,68L4937.1,170L4902.9,170C4868.6,170,4800,170,4731,170C4662.9,170,4594,170,4526,170C4457.1,170,4389,170,4320,170C4251.4,170,4183,170,4114,170C4045.7,170,3977,170,3909,170C3840,170,3771,170,3703,170C3634.3,170,3566,170,3497,170C3428.6,170,3360,170,3291,170C3222.9,170,3154,170,3086,170C3017.1,170,2949,170,2880,170C2811.4,170,2743,170,2674,170C2605.7,170,2537,170,2469,170C2400,170,2331,170,2263,170C2194.3,170,2126,170,2057,170C1988.6,170,1920,170,1851,170C1782.9,170,1714,170,1646,170C1577.1,170,1509,170,1440,170C1371.4,170,1303,170,1234,170C1165.7,170,1097,170,1029,170C960,170,891,170,823,170C754.3,170,686,170,617,170C548.6,170,480,170,411,170C342.9,170,274,170,206,170C137.1,170,69,170,34,170L0,170Z"
    ></path>
  </svg>
</section>
