---
---

<section class="grid px-2 pt-20 lg:pt-24">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid bg-[url('/clouds.webp')] object-cover w-fit p-4 lg:p-14">
      <a href="/case-studies/never-without-another">
        <img
          class="justify-self-center lg:justify-self-start w-144 lg:w-[780px]"
          src="/nwa-mid.png"
          alt="never without another"
        />
      </a>
    </div>
    <div class="pt-4">
      <h3>
        never without another - focused on bringing awareness to mental health
        (a design concept)
      </h3>
      <h3>health & wellness, copywriting, ux/ui</h3>
    </div>
  </div>
</section>
