---
---

<section class="grid pl-6 pr-6 pt-16">
  <div class="justify-self-center grid max-w-screen-xl w-full lg:grid-cols-2">
    <h2 class="text-4xl lg:text-6xl">
      <p>
        reimagine the impossible; <br /> defy <span class="text-secondary"
          >your</span
        > potential.
      </p>
    </h2>
    <div class="lg:pl-32">
      <p class="pt-4 text-sm lg:w-[75%] lg:text-base">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
        laborum suscipit quas tenetur corrupti, excepturi corporis doloribus
        velit odit doloremque beatae obcaecati iure natus praesentium
        blanditiis. Voluptas commodi nostrum eius!
      </p>
      <button class="btn btn-outline lowercase max-w-[50%] mt-6"
        >more about me.</button
      >
    </div>
  </div>
</section>
