---
---

<section class="grid pl-6 pr-6 pt-14">
  <div class="justify-self-center grid max-w-screen-xl w-full lg:grid-cols-2">
    <h2 class="text-4xl lg:text-6xl">
      <p class="example-grid" xyz="fade small stagger-4 duration-8">
        reimagine the impossible. <br />
        <span class="word text-secondary">become.</span>
        <span class="word text-info">create.</span>
        <span class="word text-accent">inspire.</span>
      </p>
    </h2>
    <div class="lg:pl-32" xyz="fade stagger-2 duration-5 delay-15 ">
      <p class="pt-4 text-sm w-[90%] lg:w-[100%] lg:text-base break-one-text">
        a portion of individuals will have lived their lives <span
          class="text-accent">monotonously;</span
        > as if it were <span class="text-accent">indispensable.</span> i am on a
        mission to redefine what it means to be <span class="text-accent"
          >alive</span
        >.
        <br /><span class="text-info">capture</span> the moment. <span
          class="text-accent">visualize</span
        > the progress. <span class="text-secondary">be</span> the change you want
        to see.
      </p>
      <button
        xyz="fade down-100% back-10 delay-30"
        class="btn btn-outline lowercase max-w-[50%] mt-6 mam-button"
        ><a href="/about">more about me.</a>
      </button>
    </div>
  </div>
  <script defer is:inline>
    const words = [...document.querySelectorAll(".word")];
    const text = [...document.querySelector(".break-one-text").children];
    const mamButton = document.querySelector(".mam-button");
    const observer = new IntersectionObserver((entries) => {
      // Loop over the entries
      entries.forEach((entry) => {
        // If the element is visible
        if (entry.isIntersecting) {
          // Add the animation class
          observer.disconnect();
          entry.target.classList.add("xyz-in");
          text[0].parentElement.classList.add("xyz-in");
          text.forEach((text, i) => {
            text.classList.add("xyz-in");
            if (i < words.length) {
              words[i].classList.add("xyz-in");
            }
          });
          mamButton.classList.add("xyz-in");
        }
      });
    });
    observer.observe(document.querySelector(".example-grid"));
  </script>
</section>
