---
---

<section class="grid pl-6 pr-6 pt-14">
  <div class="justify-self-center grid max-w-screen-xl w-full lg:grid-cols-2">
    <h2 class="text-4xl lg:text-6xl">
      <p>
        <span class="text-secondary">reimagine</span> the impossible; <br /> defy
        <span class="text-info">your</span> potential.
      </p>
    </h2>
    <div class="lg:pl-32">
      <p class="pt-4 text-sm w-[90%] lg:w-[100%] lg:text-base">
        a portion of individuals will have lived their lives <span
          class="text-accent">monotonously;</span
        > as if it were <span class="text-accent">indispensable.</span> we are on
        a mission to redefine what it means to be <span class="text-info"
          >alive</span
        >.
        <br /><span class="text-secondary">capture</span> the moment. <span
          class="text-secondary">visualize</span
        > the progress. <span class="text-secondary">create</span> the impact you
        want to see.
      </p>
      <button class="btn btn-outline lowercase max-w-[50%] mt-6"
        >more about me.</button
      >
    </div>
  </div>
</section>
