---
---

<section class="grid pl-6 pr-6 lg:pt-32">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid bg-secondary">
      <img
        class="justify-self-center lg:justify-self-start w-144 lg:w-[1000px]"
        src="/iphone.webp"
        alt="yaba iphone mockup"
      />
    </div>
    <div class="pt-4">
      <h3>yaba - a budgeting application</h3>
      <h3>software, branding, ux/ui</h3>
    </div>
  </div>
</section>
