---
---

<section class="grid px-2 pt-24 md:pt-32">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid bg-neutral-content w-fit">
      <a href="/case-studies/yaba">
        <img
          class="justify-self-center lg:justify-self-start w-144 lg:w-[900px]"
          src="/yaba.webp"
          alt="yaba iphone mockup"
          width="800px"
          height="800px"
        />
      </a>
    </div>
    <div class="pt-4">
      <h2>yaba - a budgeting web application (in development)</h2>
      <h3>full-stack, branding, ux/ui</h3>
    </div>
  </div>
</section>
