---
---

<section class="grid pl-6 pr-6 pt-24 lg:pt-32">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div
      class="grid bg-[url('/platform.jpg')] w-fit justify-self-end object-cover"
    >
      <img
        class="justify-self-center lg:justify-self-start w-144 lg:w-[900px]"
        src="/macbook.webp"
        alt="yaba iphone mockup"
      />
    </div>
    <div class="pt-4 text-end">
      <h3>Groomify - a pet grooming service.</h3>
      <h3>mockup, research, ux, ui</h3>
    </div>
  </div>
</section>
