---
export interface ICaseStudyLayout {
  lineHeight?: boolean;
  pl?: string;
  text: string;
  color: string;
}
const { lineHeight, pl, text, color } = Astro.props;
---

<h1
  class:list={["text-4xl", "md:text-7xl", "lg:text-8xl", "xl:text-9xl", color]}
>
  <span class:list={[pl]}>
    {text}
    <slot />
  </span>
</h1>
