---
import HeadingOne from "./HeadingOne.astro";
---

<section class="grid lg:pt-7">
  <div class="justify-self-center grid max-w-screen-xl w-full">
    <div class="grid grid-cols-3 mb-6 lg:mb-10">
      <h2 class="text-2xl lg:text-4xl col-span-2">
        <span>elton bautista.</span>
      </h2>
      <div class="modal-action justify-self-end mt-0">
        <label for="my-modal-5" class="btn" id="modal-label">&#x2715;</label>
      </div>
    </div>

    <div class="grid gap-10 grid-cols-2 lg:grid-cols-4">
      <div class="col-span-2">
        <HeadingOne lineHeight>
          <a class="link no-underline" href="/">home.</a>
        </HeadingOne>
        <HeadingOne lineHeight>
          <a class="link no-underline" href="">about.</a>
        </HeadingOne>
        <HeadingOne lineHeight>
          <a class="link no-underline" href="">contact.</a>
        </HeadingOne>
      </div>

      <div>
        <h3 class="lg:text-2xl xl:text-4xl">
          <span
            ><a class="link no-underline" href="/case-studies/yaba">yaba.</a>
          </span>
        </h3>
        <h3 class="lg:text-2xl xl:text-4xl">
          <span>
            <a class="link no-underline" href="/case-studies/groomify">
              Groomify</a
            >
          </span>
        </h3>
        <h3 class="lg:text-2xl xl:text-4xl">
          <span>
            <a
              class="link no-underline"
              href="/case-studies/never-without-another"
              >never without another.</a
            >
          </span>
        </h3>
      </div>

      <div class="text-center lg:text-start">
        <h3 class="lg:text-base xl:text-3xl">
          <span
            ><a
              class="link no-underline"
              href="https://www.linkedin.com/in/eltonbautista/"
              rel="noopener noreferrer"
              target="_blank">linkedin.</a
            >
          </span>
        </h3>
        <h3 class="lg:text-base xl:text-3xl">
          <span>
            <a
              class="link no-underline"
              href="https://github.com/eltonbautista"
              rel="noopener noreferrer"
              target="_blank"
            >
              github</a
            >
          </span>
        </h3>
        <h3 class="lg:text-base xl:text-3xl">
          <span>
            <a
              class="link no-underline"
              href="https://twitter.com/psychtotech"
              rel="noopener noreferrer"
              target="_blank">twitter</a
            >
          </span>
        </h3>
      </div>
    </div>
  </div>
</section>
