---
---

<div
  class="navbar xl:max-w-screen-xl bg-base-100 pt-6 pr-[2.25%] pl-[2.25%] justify-self-center h-28 sm:p-0"
>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">elton bautista.</a>
  </div>
  <div class="flex-none">
    <label for="my-modal-5" class="btn modal-button" id="modal-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
    <script defer is:inline>
      const modalButton = document.querySelector("#modal-button");
      const body = document.querySelector("body");
      // when modal is open, stop scrolling
      modalButton.addEventListener("click", function (e) {
        body.style.height = "100%";
        body.style.overflowY = "hidden";
      });
    </script>
  </div>
</div>
