---
export interface Props {
  title: string;
}
import Footer from "../components/Footer.astro";
import ModalMenu from "../components/ModalMenu.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import "@animxyz/core";
import { SEO } from "astro-seo";

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" data-theme="business" class="h-fit min-h-screen">
  <head>
    <SEO
      title="elton bautista - portfolio"
      description="full stack full-stack front-end frontend front end developer engineer designer designing copywriter copywriting brand marketing business website web application mobile application iphone android mobile-friendly pwa progressive-web-application responsive design software engineering developing designing astro react.js react reactjs node.js nodejs node express express.js expressjs online best amazing beautiful glorious great aesthetic aesthetically art artistic"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/my_logo.png" />
    <title>{title}</title>
  </head>
  <body
    class="font-Questrial h-full min-h-full bg-[#2A466C]"
    data-theme="business"
  >
    <header class="grid">
      <nav class="bg-base-100 xl:flex xl:justify-center">
        <Navbar />
      </nav>
    </header>
    <slot />
    <Footer />
    <input type="checkbox" id="my-modal-5" class="modal-toggle" />
    <div class="modal max-h-screen max-w-screen">
      <div class="modal-box min-w-[100%] min-h-screen">
        <ModalMenu />
      </div>
    </div>
    <script defer is:inline>
      // when modal is closed, allow body to scroll again
      const modalLabel = document.querySelector("#modal-label");
      modalLabel.addEventListener("click", function () {
        body.style.overflowY = "auto";
      });
    </script>
  </body>
</html>
